environment        = "dev"
region             = "ap-south-1"
kubernetes_version = "1.35"
node_count         = 2
vpc_cidr           = "10.20.0.0/16"
deployer_role_arn  = "arn:aws:iam::REPLACE_ACCOUNT_ID:role/multicloud-dev-deploy"
provisioner_role_arn = "arn:aws:iam::REPLACE_ACCOUNT_ID:role/multicloud-dev-provision"
